* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-self: center;
    background: linear-gradient(#068D9D, #53599A, #6D9DC5, #80DED9);
    color: #AEECEF;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}

.stadt,
.zeitzone,
.wetter {
    height: 33vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.temperatur {
    display: flex;
}

.wetter {
    flex-direction: column;
}